*.pyc
*.dat
TAGS
*.egg-info
*.egg
build
.coverage
.tox
cover
venv
.venv
*.sublime-workspace
*.sqlite
var/*
etc/yardstick/*.conf
AUTHORS
ChangeLog
doc/source/api/*
doc/build/*
dist
yardstick/versioninfo
*.orig
/bind9
.pc
